#top_tools {
    display: flex;
}

.menuitem {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    background-color: #222;
    color:aliceblue;
    padding: 7px;
    height: 45px;
    width: 45px;
}

.menuitem img {
    color: white;
    mask: fill;
}

.menuitem:hover {
    background-color: gray;
}

.menuitem:active {
    border-left: 1px solid white;
    border-right: 1px solid gray;
    background-color: lightblue;
}

.openfile {
    padding: 7px;
}